
@import url(chota.min.css);

@font-face {
    font-family: "Itim";
    src: url("../img/Itim-Regular.ttf");
}

* {
    scrollbar-width: auto;
}

:root {
    --bg-color: #ffffff;
    --bg-secondary-color: #f3f3f6;
    --bg-tertiary-color: #cacad8;
    --color-primary: #14854F;
    --color-lightGrey: #d2d6dd;
    --color-border: #d2d6dd;
    --color-grey: #747681;
    --color-darkGrey: #3f4144;
    --color-error: #d43939;
    --color-success: #28bd14;
    --grid-maxWidth: 120rem;
    --grid-gutter: 2rem;
    --font-size: 1.8rem;
    --font-color: #333333;
    --font-family-sans: "Itim";
    --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;

    --msg-other-bg-color : rgb(97, 182, 238);
    --msg-me-bg-color : rgb(92, 175, 148);
    --msg-reply-bg-color : rgb(209, 215, 219);
    --msg-other-border-color : rgb(62, 127, 212);
    --msg-me-border-color : rgb(64, 148, 116);
    --msg-reply-border-color : rgb(94, 100, 105);
    --msg-other-border-sel-color : rgb(58, 90, 139);
    --msg-me-border-sel-color : rgb(48, 105, 86);

    --svg-filter: none;
}

body.dark {
    --bg-color: rgb(25, 25, 27);
    --bg-secondary-color: #1f1f20;
    --bg-tertiary-color: #28282b;
    --font-color: #e5e7eb;
    --color-grey: #ccc;
    --color-lightGrey: #959ba5;
    --color-darkGrey: rgb(140, 142, 146);
    --color-border: rgb(140, 142, 146);

    --msg-other-bg-color : #2C5AA0;
    --msg-me-bg-color : #005544;
    --msg-reply-bg-color : rgb(45, 46, 53);
    --msg-other-border-color : #3771C8;
    --msg-me-border-color : #008066;
    --msg-reply-border-color : #5b5f64;
    --msg-other-border-sel-color : #ACDBFF;
    --msg-me-border-sel-color : #8CE7A9;

    --svg-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

body > .container {
    max-width: 720px;
}

form > div {
    padding: 5px;
}

pre {
    font-family: Itim;
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 0;
    white-space: pre-wrap;
    background: none;
    padding: 0.1rem;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 0;
    scrollbar-width: none;
    background-color: var(--bg-secondary-color);
    color: var(--font-color);
}

input {
    background-color: var(--bg-secondary-color);
    color: var(--font-color);
}

.bg-sec {
    background-color: var(--bg-secondary-color) !important;
}

.bg-ter {
    background-color: var(--bg-tertiary-color) !important;
}

.bg-white {
    background-color: white !important;
}

.button {
    background-color: var(--bg-tertiary-color);
}

.svg-filter {
    filter: var(--svg-filter);
}

.cover-screen {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 100;
}

.chatpanel {
    background-image: url(../img/pattern.svg); 
    background-size: 30px;
}

.chatpanel-top {
    width: 100%; 
    height: 50px; 
    text-align: center;
}

.chatpanel-mid {
    height: calc(100% - 2*50px); 
    padding: 5px; 
    overflow-y: scroll;
}

.chatpanel-bot {
    width: 100%; 
    height: 50px; 
    text-align: center;
}

.chatpanel-top-l {
    height: 50px; 
    position: fixed;
    left: 0;
    top: 0;
}

.chatpanel-top-m {
    margin-top: 5px;
}

.chatpanel-top-r {
    height: 50px; 
    float: right;
    position: fixed;
    right: 0;
    top: 0;
}

.chatpanel-bot-l {
    height: 50px;
    width: 50px; 
    float: left; 
    padding: 1rem; 
    margin: 0px;
}

.chatpanel-bot-m {
    width: calc(100% - 100px); 
    position: fixed; 
    bottom: 5px; 
    left: 50px;
}

.chatpanel-bot-r {
    height: 50px; 
    width: 50px; 
    float: right; 
    padding: 0.2rem; 
    margin: 0px;
}

#send_box {
    width: 100%;
    height: 40px; 
    min-height: 40px;
    word-wrap: break-word;
    resize: none;
}

.status {
    width: calc(100% - 6);
    padding: 3px;
    text-align: center;
}

.status .tag {
    background-color: var(--bg-tertiary-color);
}

.message {
    padding: 0px 8px 3px 8px;
    margin: 2px;
    word-wrap: break-word;;
}

.message-other {
    border-left: 5px solid var(--msg-other-border-color);
    background-color: var(--msg-other-bg-color);
}

.message-me {
    border-left: 5px solid var(--msg-me-border-color);
    background-color: var(--msg-me-bg-color);
}

.message-reply {
    border-left: 5px solid var(--msg-reply-border-color);
    background-color: var(--msg-reply-bg-color);
}

.message .message-sub {
    font-size: 1.3rem;
    font-style: italic;
    text-decoration: underline;
    padding-bottom: 1px;
}

.message-me.active {
    border: 3px dashed var(--msg-me-border-sel-color);
    border-left: 5px solid var(--msg-me-border-sel-color);
}

.message-other.active {
    border: 3px dashed var(--msg-other-border-sel-color);
    border-left: 5px solid var(--msg-other-border-sel-color);
}

.clip-win {
    position: fixed;
    z-index: 999;
    padding: 6px;    
    bottom: 55px;
    left: 5px;
    border: 1px dashed #1E86D7;
    background-color: var(--bg-secondary-color);
}

.clip-win.reply-clip {
    width: calc(100% - 2*8px - 3*5px);
    max-width: 720px;
    height: 2em;
    padding: 2px;
    border-left: 5px solid #1E86D7;
    border-radius:  0px 30px 30px 0px;
}

.clip-win.selected-clip {
    min-width: 320px;
    left: 50%; 
    transform: translateX(-50%);
    border-radius:  15px;
}

.clip-win.action-clip {
    border-radius: 10px;
    width: calc(100% - 2*8px - 3*5px);
    max-width: 720px;
}

.clip-win.action-clip button {
    padding: 1rem 1rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.clip-win.camera-clip {
    width: 314px;
}

#dialog {
    z-index: 999;
    position: fixed;
    top: 80px;
    width: 300px;
    margin-left: -150px;
    left: 50%;
}

@media screen and (max-width: 600px)  {
    div[name="error_msg"] {
        width: 100%;
    }
}