{
    "bind_address": "Address to start server. (For example: localhost:8000)",
    "static_dir_path": "Directory to static html files to serve",
    "logger_pattern": "https://docs.rs/actix-web/latest/actix_web/middleware/struct.Logger.html (For example: %t [%a] %s %{User-Agent}i %r)",
    "salt": "PUT SOME TEXT FOR SALT",
    "tenor_key": "GET API KEY FROM https://tenor.com AND PASTE HERE",
    "allow_ssl": false,
    "ssl_cert": "Path to ssl certificate",
    "ssl_key": "Path to ssl key"
}
